<%= render "shared/errors", obj: @sample %>

<div class="max-w-screen-xl px-4 py-24 mx-auto text-gray-700 sm:px-6 lg:px-8">

  <div class="flex items-center justify-center">
    <h1 class="font-bold tracking-widef mb-text-2xl sm:text-3xl">Editing Sample</h1>
  </div>

  <%= simple_form_for(@sample, validate: true, html: { class: "max-w-screen-lg mx-auto mt-8 mb-0 space-y-4", id: "main-form" }) do |f| %>

    <!-- Attachment retention on form resubmit and when adding new attachments -->
    <% f.object.images.each do |image| %>
      <%= f.hidden_field :images, value: image.signed_id, multiple: true if image.persisted? %>
    <% end %>

    <% f.object.files.each do |file| %>
      <%= f.hidden_field :files, value: file.signed_id, multiple: true if file.persisted? %>
    <% end %>
    <!--  -->

    <%= render Forms::SectionLabelComponent.new(cls: "text-gray-700").with_content("Info") %>

    <div class="grid grid-cols-2 space-x-8">

      <div class="mb-4 ml-8">
        <%= render Forms::LabelComponent.new(optional: false).with_content("Title/Name") %>
        <div class="relative">
          <%= tag.div data: { controller: "input" } do %>
            <%= f.input :title, label: false, hint: false, input_html: { class: "w-full p-4 pr-6 text-sm border-gray-300 rounded-lg shadow-sm focus:ring-1 focus:ring-lime-600 focus:border-lime-600", data: { "input-target": "input", action: "input->input#checkEmpty" } }, placeholder: "Sample Text Sample Text" %>
            <span class="absolute inset-y-0 inline-flex items-center right-4">
              <%= render TooltipComponent.new(tooltip: "required") do %>
                <svg data-input-target="svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-amber-600">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                </svg>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>

      <% if !@sample.not_set_category? %>
        <div class="mb-4">
          <%= tag.div data: { controller: "datepicker" } do %>
            <%= render Forms::LabelComponent.new(optional: true).with_content("Survey date") %>
            <%= f.input :survey_date, as: :string, input_html: { data: { datepicker_target: "input" }, class: "w-full p-4 pr-6 text-sm border-gray-300 rounded-lg shadow-sm date required validate focus:ring-1 focus:ring-lime-600 focus:border-lime-600", value: @sample.survey_date&.strftime("%d/%m/%Y") }, hint: false, label: false, placeholder: "DD/MM/YYYY" %>
          </div>
        <% end %>
      <% end %>

      <div class="mb-4">
        <%= render Forms::LabelComponent.new(optional: true).with_content("Linked experiments") %>

        <%= f.collection_select :experiment_ids, Experiment.all, :id, :title, {}, multiple: true, data: { controller: "select" }, id: "select", class: "", placeholder: "Select experiments" %>
      </div>

      <div class="col-span-2 mb-4">
        <%= render Forms::LabelComponent.new().with_content("Description") %>
        <%= f.input :description, as: :rich_text_area, input_html: { class: "w-full p-4 pr-6 text-sm border-gray-300 rounded-lg shadow-sm" }, label: false %>
        <%= render Forms::PHelperComponent.new(cls: "!ml-2").with_content("You can edit the content and attach images with buttons above. ") %>

      </div>
    </div>

    <%= render Forms::SectionLabelComponent.new(cls: "text-gray-700").with_content("Metadata") %>
    <div class="grid grid-cols-1 space-x-8">

      <div class="mb-4 ml-8">
        <%= render Forms::LabelComponent.new().with_content("Metadata") %>
        <%= f.input :metadata, as: :text, label: false, hint: false, input_html: { class: "w-full p-4 pr-6 text-sm border-gray-300 rounded-lg shadow-sm focus:ring-1 focus:ring-lime-600 focus:border-lime-600", data: { controller: "textarea", action: 'input->textarea#resize', 'textarea-target': 'input' }, value: (JSON.is_json?(@sample.metadata) ? JSON.generate(@sample.metadata) : @sample.metadata)  } %>

        <div class="ml-2">

          <% unless JSON.is_json?(@sample.metadata) %>
            <%= render Forms::PHelperComponent.new(cls: "!text-amber-600").with_content("Provided metadata doesn't appear to be valid. Check the contents or contact the admin. Invalid metadata can't be indexed or searched!") %>
          <% end %>
          <%= render Forms::PHelperComponent.new(cls: "") do %>
            Enter metadata to store additional fields in JSON format. Learn
            <a href="https://www.json.org/json-en.html" class="font-bold hover:underline">more</a>.
          <% end %>
        </div>

      </div>

    </div>
    <%= render Forms::SectionLabelComponent.new(cls: "text-gray-700").with_content("Files") %>
    <div class="grid grid-cols-2 space-x-8">
      <div class="mb-4 ml-8">
        <%= render Forms::LabelComponent.new().with_content("Thumbnail") %>

        <%= f.input :thumbnail, as: :file, hint: false, label: false, input_html: { class: "block w-full text-sm text-gray-900 bg-white border border-gray-300 rounded-lg cursor-pointer file:mr-4 focus:outline-none file:bg-gray-600 file:text-sm file:text-white file:p-2.5 file:px-4 file:border-none file:focus:outline-none file:outline-none", direct: true, multiple: false } %>

        <%= render Forms::PHelperComponent.new(cls: "!ml-2") do %>
          Used in sample cards.
        <% end %>
      </div>
      <div class="mb-4 ml-8">
        <%= render Forms::LabelComponent.new().with_content("Files") %>

        <%= f.input :files, as: :file, hint: false, label: false, input_html: { class: "block w-full text-sm text-gray-900 bg-white border border-gray-300 rounded-lg cursor-pointer file:mr-4 focus:outline-none file:bg-gray-600 file:text-sm file:text-white file:p-2.5 file:px-4 file:border-none file:focus:outline-none file:outline-none", direct: true, multiple: true } %>

      </div>
      <%= tag.div class: "mb-4 ml-8", data: { "uppy": "sample[images][]", controller: "uppy", "uppy-target": "div", "uppy-filetype-value": "images", "uppy-allowedfiletypes-value": "image/*", "uppy-allowmultiple-value": true } do %>
        <%= render Forms::LabelComponent.new().with_content("Images") %>
        <div class="flex">

          <%= tag.div class: "flex items-center justify-center w-full p-2 pr-6 text-sm bg-white border border-gray-300 rounded-lg cursor-pointer w-fullbg-white hover:bg-gray-100 py-auto", data: {"uppy-target": "trigger"} do %>
            <p class="text-center" data-uppy-target="text">
              Browse...
            </p>
          <% end %>

          <% if @sample.images&.count > 0 %>
            <%= tag.div data: { controller: "modal" } do %>
              <%= render TooltipComponent.new(tooltip: "Show attached images", cls: "hover:bg-gray-100 !p-0 !ml-2") do %>
                <%= tag.div class: "w-10 h-full p-2 text-sm text-gray-500 bg-white border border-gray-300 rounded-lg cursor-pointer c hover:bg-gray-100 py-auto", data: { action: "click->modal#toggle" } do %>

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 m-auto">
                    <path fill-rule="evenodd" d="M1 5.25A2.25 2.25 0 013.25 3h13.5A2.25 2.25 0 0119 5.25v9.5A2.25 2.25 0 0116.75 17H3.25A2.25 2.25 0 011 14.75v-9.5zm1.5 5.81v3.69c0 .414.336.75.75.75h13.5a.75.75 0 00.75-.75v-2.69l-2.22-2.219a.75.75 0 00-1.06 0l-1.91 1.909.47.47a.75.75 0 11-1.06 1.06L6.53 8.091a.75.75 0 00-1.06 0l-2.97 2.97zM12 7a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd" />
                  </svg>
                <% end %>
              <% end %>
              <%= render "shared/images_modal", obj: @sample %>
            <% end %>
          <% end %>
        </div>
        <%= render Forms::PHelperComponent.new(cls: "!ml-2").with_content("Images (.svg, .png, .jpg or .gif) of any size.") %>
      <% end %>
    </div>

    <div class="ml-4 form-actions">
      <%= f.submit "Save Sample", class: "inline-block px-5 py-3 mr-3 text-sm font-medium text-white rounded-lg bg-lime-600 hover:bg-lime-700" %>
      <%= link_to "Back to samples", [:samples], class: "text-sm text-gray-500 hover:underline" %>
    </div>
  <% end %>

</div>
