<div class="py-24 px-4 mx-auto max-w-screen-xl text-gray-700 sm:px-6 lg:px-8">

  <%= tag.div data: { controller: "tabs", tabs_active_class: "active-tab" } do %>
    <div class="grid grid-cols-12 rounded-lg border">

      <div class="col-span-3 w-full bg-white rounded-l-lg">
        <div class="flex justify-between">
          <ul class="flex flex-wrap w-full text-sm">
            <li class="w-full border-b">
              <div class="flex flex-col justify-center items-center h-16 text-lg font-medium">
                <div class="flex space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-meat" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M13.62 8.382l1.966 -1.967a2 2 0 1 1 3.414 -1.415a2 2 0 1 1 -1.413 3.414l-1.82 1.821"></path>
                    <path d="M5.904 18.596c2.733 2.734 5.9 4 7.07 2.829c1.172 -1.172 -.094 -4.338 -2.828 -7.071c-2.733 -2.734 -5.9 -4 -7.07 -2.829c-1.172 1.172 .094 4.338 2.828 7.071z"></path>
                    <path d="M7.5 16l1 1"></path>
                    <path d="M12.975 21.425c3.905 -3.906 4.855 -9.288 2.121 -12.021c-2.733 -2.734 -8.115 -1.784 -12.02 2.121"></path>
                  </svg>
                  <span>
                    Sample
                  </span>
                </div>
              </div>
            </li>
            <li class="w-full">
              <%= tag.div data: { "tabs-target": "tab" }, id: "info-tab", class: "active-tab" do %>
                <button type="button" role="tab" aria-controls="info" aria-selected="true" class="inline-block p-4 w-full" data-action="click->tabs#switch">Info</button>
              <% end %>
            </li>
            <li class="w-full">
              <%= tag.div data: { "tabs-target": "tab" }, id: "info-tab" do %>
                <button type="button" role="tab" aria-controls="info" aria-selected="true" class="inline-block p-4 w-full" data-action="click->tabs#switch">Files</button>
              <% end %>
            </li>
            <li class="w-full border-y">
              <div class="flex flex-col justify-center items-center h-16 text-lg font-medium">
                <div class="flex space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-microscope" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 21h14"></path>
                    <path d="M6 18h2"></path>
                    <path d="M7 18v3"></path>
                    <path d="M9 11l3 3l6 -6l-3 -3z"></path>
                    <path d="M10.5 12.5l-1.5 1.5"></path>
                    <path d="M17 3l3 3"></path>
                    <path d="M12 21a6 6 0 0 0 3.715 -10.712"></path>
                  </svg>
                  <span>
                    Measurements
                  </span>
                  <%= link_to [:new, @sample, :measurement], class: "my-auto" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-lime-600">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  <% end %>
                </div>
              </div>
            </li>
            <% @measurements.each do |measurement| %>
              <li class="w-full">
                <%= tag.div data: { "tabs-target": "tab" }, id: "measurement-#{measurement.id}-tab", class: "hover:bg-gray-100" do %>
                  <div class="inline-block p-4 w-full text-center cursor-pointer" data-action="click->tabs#switch">
                    <%= measurement.date&.strftime("%d/%m/%Y") %>
                    <%= measurement.title %>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-span-9 w-full bg-white rounded-r-lg border-l">

        <% if @sample.thumbnail.attached? %>
          <div class="h-40">
            <%= image_tag @sample.thumbnail.variant(:thumbnail).processed, class: "object-cover w-full h-full rounded-tr-lg" %>
          </div>
        <% end %>

        <div id="sample" class="p-8 pt-4 border-b">
          <div class="flex justify-between">
            <div class="flex">

              <%= render SampleCategoryBadgeComponent.new(category: @sample.category, cls: "my-auto").with_content(@sample.category.humanize.downcase) %>
              <div class="my-auto mr-2 text-sm text-gray-500">
                &middot;
              </div>
              <span class="my-auto mr-2 text-xs font-medium text-gray-500">
                id: <%= @sample.id %>
              </span>

              <% if @sample.experiments.count > 0 %>
                <div class="my-auto mr-2 text-sm text-gray-500">
                  &middot;
                </div>
                <div class="my-auto text-xs font-medium text-gray-500">
                  Linked to:
                  <% @sample.experiments.each do |experiment| %>
                    <%= link_to experiment.title.truncate(20), experiment, class: "font-bold hover:underline" %>
                    <% unless experiment == @sample.experiments.last %>
                      &middot;
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div id="controls" class="flex flex-row justify-center items-center mx-1 space-x-0">
              <%= render TooltipComponent.new(tooltip: "Edit", user: current_user) do %>
                <%= link_to [:edit, @sample] do %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 my-auto w-5 h-5 text-gray-400">
                    <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                    <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
                  </svg>
                <% end %>
              <% end %>

              <% if policy(@sample).favorite? %>
                <% if current_user.favorited?(@sample) %>
                  <%= render TooltipComponent.new(tooltip: "Unfavorite", user: current_user) do %>
                    <%= link_to [:favorite, @sample], data: { turbo_method: :patch } do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star-filled flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-star text-gray-400 hover:text-lime-600" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" fill="currentColor"></path>
                      </svg>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= render TooltipComponent.new(tooltip: "Favorite", user: current_user) do %>
                    <%= link_to [:favorite, @sample], data: { turbo_method: :patch } do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 icon icon-tabler icon-tabler-star text-gray-400 hover:text-lime-600" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                      </svg>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>

              <%= render TooltipComponent.new(tooltip: "Delete", user: current_user) do %>
                <%= link_to @sample, data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } do %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-5 h-5 text-gray-400">
                    <path fill-rule="evenodd" d="M7.22 3.22A.75.75 0 017.75 3h9A2.25 2.25 0 0119 5.25v9.5A2.25 2.25 0 0116.75 17h-9a.75.75 0 01-.53-.22L.97 10.53a.75.75 0 010-1.06l6.25-6.25zm3.06 4a.75.75 0 10-1.06 1.06L10.94 10l-1.72 1.72a.75.75 0 101.06 1.06L12 11.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L12 8.94l-1.72-1.72z" clip-rule="evenodd" />
                  </svg>
                <% end %>
              <% end %>

              <%= tag.div data: { controller: "clipboard", action: "click->clipboard#copy" } do %>
                <%= render TooltipComponent.new(tooltip: "Copy link", user: current_user) do %>
                  <%= link_to "", @sample, class: "hidden" , data: { "clipboard-target": "text" } %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-5 h-5 text-gray-400 transition" data-clipboard-target="svg">
                    <path d="M7 3.5A1.5 1.5 0 018.5 2h3.879a1.5 1.5 0 011.06.44l3.122 3.12A1.5 1.5 0 0117 6.622V12.5a1.5 1.5 0 01-1.5 1.5h-1v-3.379a3 3 0 00-.879-2.121L10.5 5.379A3 3 0 008.379 4.5H7v-1z" />
                    <path d="M4.5 6A1.5 1.5 0 003 7.5v9A1.5 1.5 0 004.5 18h7a1.5 1.5 0 001.5-1.5v-5.879a1.5 1.5 0 00-.44-1.06L9.44 6.439A1.5 1.5 0 008.378 6H4.5z" />
                  </svg>
                <% end %>
              <% end %>
            </div>
          </div>
          <h2 class="mb-2 text-2xl font-semibold md:mt-2"> <%= @sample.title %></h2>
          <div class="!mt-4 !text-sm !text-gray-500">
            <%= @sample.description %>
          </div>
        </div>

        <div id="panels" class="rounded-br-lg">
          <%= tag.div data: { "tabs-target": "panel" }, id: "info-panel", class: "p-4 bg-white rounded-br-lg md:p-8 md:pt-4" do %>
            <%= render "sample_panel", sample: @sample %>
          <% end %>

          <%= tag.div data: { "tabs-target": "panel" }, id: "files-panel", class: "hidden p-4 bg-white rounded-br-lg md:p-8 md:pt-4" do %>
            <%= render "files_panel", sample: @sample %>
          <% end %>

          <% @measurements.each do |measurement| %>
            <%= tag.div data: { "tabs-target": "panel" }, id: "measurement-#{measurement.id}-panel", class: "hidden p-4 bg-white rounded-br-lg md:p-8 md:pt-4" do %>
              <%= render "measurement_panel", measurement: measurement %>
            <% end %>
          <% end %>
        </div>

      </div>

    </div>
  <% end %>

</div>
