<%= render "shared/errors", obj: @user %>
<div class="py-24 px-4 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold sm:text-3xl">Edit profile</h1>
  </div>
  <div class="mx-auto mt-8 max-w-screen-md">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>

      <div class="grid grid-cols-1 space-x-2">

        <div class="grid grid-cols-12 space-x-2">

          <%= tag.div class: "relative col-span-4 row-span-2 my-auto mr-8",
          data: {
            controller: "uppy",
            uppy: "user[avatar]",
            uppy_target: "div",
            uppy_allowedfiletypes_value: "image/*",
            uppy_allowmultiple_value: false,
            uppy_thumbnails_value: true } do %>
            <span class="flex m-auto mb-4 w-40 h-40 rounded-full bg-lime-300">
              <%= tag.div data: { uppy_target: "avatarDiv" } do %>
                <% if resource.avatar.attached? %>
                  <%= image_tag resource.avatar, class: "object-cover w-20 h-20 rounded-full md:w-40 md:h-40", data: {"uppy-target": "avatar"} %>
                <% else %>
                  <div class="w-20 h-20 bg-gray-300 rounded-full md:w-40 md:h-40" data-uppy-target="avatarPlaceholder">
                  </div>
                <% end %>
              <% end %>
              <div class="">
                <label for="avatar-upload" class="absolute top-0 right-0 cursor-pointer" data-uppy-target="trigger">
                  <%= render TooltipComponent.new(tooltip: "change avatar", cls: "pl-0", user: current_user) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-gray-500">
                      <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                    </svg>
                  <% end %>
                </label>
              </div>
            </span>
          <% end %>

          <!-- handles form errors and reuploading avatar -->
          <% if f.object.avatar.attached? && !f.object.avatar.persisted? %>
            <%= f.input :avatar, as: :hidden, input_html: { value: f.object.avatar.signed_id, class: "hidden", multiple: false, direct: true }, label: false, hint: false %>
          <% end %>

          <div class="col-span-8 mb-4">
            <%= render Forms::LabelComponent.new(optional: false).with_content("Name") %>
            <%= f.input :name, required: true, label: false, autofocus: false, input_html: { class: "w-full p-4 pr-6 text-sm border-gray-200 rounded-lg shadow-sm focus:ring-1 focus:ring-lime-600 focus:border-lime-600" }, placeholder: "John Doe" %>
          </div>

          <div class="col-span-8 mb-4">
            <%= render Forms::LabelComponent.new(optional: false).with_content("Email") %>
            <div class="relative">
              <%= f.input :email, required: false, label: false, input_html: { autocomplete: "email", class: "w-full p-4 pr-6 text-sm border-gray-200 rounded-lg shadow-sm focus:ring-1 focus:ring-lime-600 focus:border-lime-600" }, placeholder: "johndoe@example.com" %>

              <span class="inline-flex absolute inset-y-0 right-4 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                </svg>
              </span>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <%= render Forms::LabelComponent.new(optional: false).with_content("Password") %>
          <%= tag.div data: { controller: "password" } do %>
            <div class="relative">

              <%= f.input :password, autocomplete: "new-password", input_html: { class: "w-full p-4 pr-6 text-sm border-gray-200 rounded-lg shadow-sm focus:ring-1 focus:ring-lime-600 focus:border-lime-600", data: { "password-target": "input" } }, placeholder: "•••••••••", validate: false, label: false %>
              <%= tag.span class: "absolute inset-y-0 inline-flex items-center right-4", data: { action: "click->password#toggle"} do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-password-target="svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
              <% end %>
            </div>
            <p class="mt-2 ml-2 text-sm text-gray-500">Leave blank if you don't want to change it</p>
          <% end %>
        </div>

        <div class="mb-4">
          <%= render Forms::LabelComponent.new(optional: false).with_content("Confirm password") %>
          <%= tag.div class: "relative", data: { controller: "password" } do %>
            <%= f.input :password_confirmation, autocomplete: "new-password", type: "password", id: "confirm-password", input_html: { class: "w-full p-4 pr-6 text-sm border-gray-200 rounded-lg shadow-sm focus:ring-1 focus:ring-lime-600 focus:border-lime-600", data: { "password-target": "input" } }, placeholder: "•••••••••", validate: false, label: false %>
            <%= tag.span class: "absolute inset-y-0 inline-flex items-center right-4", data: { action: "click->password#toggle"} do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-password-target="svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            <% end %>
          <% end %>
        </div>

        <div class="mb-4">
          <%= render Forms::LabelComponent.new(optional: false).with_content("Current password") %>
          <%= tag.div data: { controller: "password" } do %>
            <div class="relative">
              <%= f.input :current_password, autocomplete: "current-password", type: "password", id: "confirm-password", input_html: { class: "w-full p-4 pr-6 text-sm border-gray-200 rounded-lg shadow-sm focus:ring-1 focus:ring-lime-600 focus:border-lime-600", data: { "password-target": "input" } }, placeholder: "•••••••••", required: true, label: false %>
              <%= tag.span class: "absolute inset-y-0 inline-flex items-center right-4", data: { action: "click->password#toggle"} do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-password-target="svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
              <% end %>
            </div>
            <p class="mt-2 ml-2 text-sm text-gray-500"> Your current password is needed to confirm the changes</p>
          <% end %>
        </div>

        <div class="flex items-center">
          <%= f.submit "Save", class: "inline-block px-8 py-3 mr-3 text-sm font-medium text-white rounded-lg bg-lime-600 hover:bg-lime-700" %>
          <p class="ml-3 text-sm text-gray-500">
            <%= link_to "Back", current_user, class: "hover:underline" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
