<div class="max-w-screen-xl px-4 pt-24 mx-auto text-gray-700 sm:px-6 lg:px-8">
  <div class="container mx-auto">
    <div class="p-4 bg-white border rounded-lg shadow-md sm:p-6">
      <div class="grid grid-cols-12">
        <div class="col-span-3">
          <div class="flex flex-col justify-center">
            <span class="relative flex w-20 h-20 m-auto rounded-full bg-primary-300 lg:w-40 lg:h-40">
              <% if @user.avatar.present? %>
                <%= image_tag @user.avatar, class: "object-cover w-20 h-20 rounded-full lg:w-40 lg:h-40" %>
              <% end %>
              <% if @user == current_user %>
                <%= link_to edit_user_registration_path do %>
                  <span class="absolute top-0 right-0 -mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                  </span>
                <% end %>
              <% end %>
            </span>
            <div class="text-center">
              <h3 class="m-auto mt-2 text-xl font-medium">
                <%= @user.name %>
              </h3>
              <p class="mx-auto overflow-hidden text-sm italic font-normal text-gray-500 text-ellipsis max-w-1/2 hover:overflow-visible hover:underline">
                <a href="<%= "mailto:#{@user.email}" %>">
                  <%= @user.email %>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-6 border-l">
          <h4 class="mb-4 ml-4 font-medium text-l">Settings</h4>

          <div class="ml-8">
            <div role="status" class="max-w-sm animate-pulse">
              <div class="w-48 mb-4 bg-gray-200 rounded-full h-2.5 "></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[360px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[330px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[300px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[360px]"></div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>

        </div>

        <div class="col-span-3 border-l">
          <% if @user == current_user %>
            <div class="mx-4">
              <% if @user.has_role?(:admin) %>
                <h4 class="mb-4 ml-4 font-medium text-l">Administration</h4>

                <div role="status" class="max-w-md p-4 space-y-4 divide-y divide-gray-200 rounded animate-pulsemd:p-6 ">
                  <div class="flex items-center justify-between">
                    <div>
                      <div class="w-24 bg-gray-300 rounded-full h-2.5 mb-2.5"></div>
                      <div class="w-32 h-2 bg-gray-200 rounded-full "></div>
                    </div>
                    <div class="w-12 bg-gray-300 rounded-full h-2.5 "></div>
                  </div>
                  <div class="flex items-center justify-between pt-4">
                    <div>
                      <div class="w-24 bg-gray-300 rounded-full h-2.5 mb-2.5"></div>
                      <div class="w-32 h-2 bg-gray-200 rounded-full "></div>
                    </div>
                    <div class="w-12 bg-gray-300 rounded-full h-2.5 "></div>
                  </div>
                  <div class="flex items-center justify-between pt-4">
                    <div>
                      <div class="w-24 bg-gray-300 rounded-full h-2.5 mb-2.5"></div>
                      <div class="w-32 h-2 bg-gray-200 rounded-full "></div>
                    </div>
                    <div class="w-12 bg-gray-300 rounded-full h-2.5 "></div>
                  </div>
                  <div class="flex items-center justify-between pt-4">
                    <div>
                      <div class="w-24 bg-gray-300 rounded-full h-2.5 mb-2.5"></div>
                      <div class="w-32 h-2 bg-gray-200 rounded-full "></div>
                    </div>
                    <div class="w-12 bg-gray-300 rounded-full h-2.5 "></div>
                  </div>
                  <div class="flex items-center justify-between pt-4">
                    <div>
                      <div class="w-24 bg-gray-300 rounded-full h-2.5 mb-2.5"></div>
                      <div class="w-32 h-2 bg-gray-200 rounded-full "></div>
                    </div>
                    <div class="w-12 bg-gray-300 rounded-full h-2.5 "></div>
                  </div>
                  <span class="sr-only">Loading...</span>
                </div>

              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
