<div id="<%= dom_id experiment %>">
  <p>
    <strong>Title:</strong>
    <%= experiment.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= experiment.author %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= experiment.staff %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= experiment.type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= experiment.status %>
  </p>

</div>
