<h1>New measurment</h1>

<%= simple_form_for([@sample, @measurment], validate: true) do |f| %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :category, collection: Measurment.categories.keys %>
    <%= f.input :equipment %>
    <%= f.input :spectra, input_html: { multiple: true } %>
    <%= f.input :equipment_settings, input_html: { multiple: true } %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to measurments", sample_measurments_path %>
</div>
